@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto:wght@300&family=Zen+Loop&display=swap');

*{
  font-size: 1.4vw;
  font-family: 'Fredoka', sans-serif;
}

body {
  background-image: url('../images/image (2).jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.tab-pane {
  background-color: beige;
}

.side2{
  margin-left: 45%;
}

.side1{
  margin-left: 2%;
}

.navbar-expand-lg{
  background-color: beige;
}

.jumbotron {
  padding-top: 15vh;
  padding-left: 3vh;
  color: beige;
}

.heading {
  color: beige;
}

a{
  margin-left: 10px;
}

.bg-dark {
  color: beige;
}