{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container-fluid">
  <hr>
  <h1>Tech Blogs</h1>
  <hr>

  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{quote.quote}}</p>
        <footer class="blockquote-footer text-end">Author: <cite title="Quote Author">{{quote.author}}</cite></footer>
      </blockquote>
    </div>
  </div>
  <br>

  <div>
    <div  class="container tab-pane active" id="all">
      {{ macro.display(blogs) }}
    </div>
  </div>

</div>

{% endblock %}