{% macro display(blogs) %}
<div class="row">
	{% if blogs %}
	<div class="container-fluid">
		{% for blog in blogs %}

		<hr>
		<div class="col" d-flex justify-content-center>
			<div class="thumbnail">
				<h5 class="card-header">{{blog.title}}</h5>
				<div class="card-body">
					<p>{{blog.description}}</p>
          <img src="" alt="">
					<p class="text-center"> Blog: {{blog.blog}}</p>
					<footer class="blockquote-footer text-center" > Posted by: {{blog.user.username}}</footer>
					<footer class="blockquote-footer text-center" > Posted on: {{blog.time.strftime('%d-%m-%Y')}}</footer>
			  	<div>
            <small><span class="foot" >{{blog.comment.count()}}</span>Comments</small>
          </div>
					<a href="{{url_for('main.comment',blog_id = blog.id)}}"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
					
					<a href="{{url_for('main.updateblog',blog_id = blog.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					<a href="{{url_for('main.delete_blog',blog_id = blog.id)}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				
				</div>
			</div>        
		</div>
		<hr>
		<br>
		{% endfor %}
		<br>
	{% else %}
	  <div class="card w-90 mb-3">
			<div class="card-body">				
				<p class="card-title">No blogs have been posted yet</p>
			</div>
		</div>
	{% endif %}
	</div>
</div>
<br>
{% endmacro %}